.member {
    .picture {
        background: lightgray;
        border-radius: 1rem;
        object-fit: cover;

        height: 25rem;
        align-self: stretch;
        aspect-ratio: 75/106;

        transition: linear 0.1s;

        &:hover {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }

    display: flex;
    width: 17.6875rem;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 0.5rem;
    gap: 0.25rem;

    img {
        margin-top: 0.5rem;

        width: 1.6875rem;
        height: 1.6875rem;
        aspect-ratio: 1/1;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    h3 {
        font-size: 1rem;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.team {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3rem;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 6rem 3.5rem;
}