@import './global.scss';

* {
  margin: 0;
  font-family: 'istok-web', sans-serif;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
}

a, a:visited, a:active, a:hover {
  color: inherit !important;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-fill-color: inherit !important; /* iOS fix */
}

p {
  text-align: justify;
}