@import '../../../styles/global.scss';

.logo {
    background-color: transparent;
    border-color: transparent;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: linear 0.1s;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.header {
    display: flex;
    padding: 2rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    position: sticky;
    top: 0;
    z-index: 100;
    background: $green;

    * {
        text-transform: uppercase;
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.menuOverlay {
    display: flex;
    padding: 1.5625rem 1.25rem 3.75rem 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.contentOverlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}